@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
ul{
  padding: 0px;
}
html,body{
  min-height: 100dvh;
  overflow-x: hidden;
  padding-bottom: 20px;
}
html{
  overflow: hidden !important;
}
html,body{
  height: 100%;
}
#root{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.content{
  margin-top: 100px;
  width: 100vw;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block{
  margin-top: 30px;
  background-color: #d8d8d8;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 50vw;
}
/* .app__menu{
  display: flex;
  justify-content: space-around;
  row-gap: 20px;
  column-gap: 10px;
  width: 80vw;
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
} */
.app__button{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease all;
}
.app__button:hover{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.counter__parent{
  display: flex;
  flex-direction: column;
}
.counter__parent p{
  font-size: 24px;
  font-weight: 600;
}
.counter__menu{
  display: flex;
  gap: 30px;
}
.counter__menu div{
  cursor: pointer;
  padding: 10px 20px;
  border: #cccccc 2px solid;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
}
.trade__parent{
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
}
input{
  border-radius: 5px;
  outline-color: #525252;
  border: 2px solid #d6d6d6;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
}
select{
  height: 30px;
  border-radius: 5px;
}
.trade__result{
  font-size: 18px;
  font-weight: 500;
}
.timer__parent{
  display: flex;
  gap: 10px;
  align-items: center;
}
.timer{
  width: 50px;
}
.timer__button{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.timer__input{
  display: flex;
  gap: 5px;
}
.todo__parent{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}
.todo__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.todoitem{
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  height: max-content;
}
.todoitem__circle{
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 1000px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.todoitem__circle.active{
  background-color: #000;
}
.todoitem__inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.todoitem h3{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat-Alternates', sans-serif;
}
.todoitem p{
  font-size: 14px;
  font-weight: 500;
}
.todoitem__menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: 10px;
}
.todoitem__menu img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.todomenu{
  display: flex;
  gap: 30px;
}
.todomenu p{
  display: inline-flex;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 1000px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  cursor: pointer
}
.todomenu__inputs{
  display: flex;
  align-items: center;
  gap: 20px;
}
.todomenu__button{
  display: inline-flex;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer
}

.weather__parent p, .weather__parent label{
  font-size: 14px;
  font-weight: 500;
}
.weather__parent h3{
  font-size: 18px;
  font-weight: 700;
}
.weather__parent h4{
  font-size: 16px;
  font-weight: 600;
}
.weather__button{
  display: inline-flex;
  background-color: #000;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.weather__input .weather__button{
  margin-top: 0px;
}
.weather__input{
  display: flex;
  align-items: center;
  gap: 15px;
}
.quest h3{
  font-size: 18px;
  font-weight: 600;
}
.answer{
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.answer__circle{
  border-radius: 1000px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #000;
  transition: 0.3s ease all;
}
.answer__circle.active{
  background-color: #000;
}
.answer p{
  font-size: 16px;
  font-weight: 500;
}
.poll__parent{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quest__list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.quest__button{
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-flex;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.quest__button:hover{
  background-color: #000;
  color: #fff;
}
.error{
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}
.poll__final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.poll__final h3{
  font-size: 18px;
  font-weight: 600;
}
.poll__final p{
  font-size: 16px;
  font-weight: 500;
}
.stopwatch__parent{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.stopwatch__parent p{
  font-size: 30px;
  font-weight: 600;
}
.stopwatch__menu{
  display: flex;
  gap: 15px;
  align-items: center;
}
.stopwatch__menu img{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.2s ease all;
}
.stopwatch__menu img:hover{
  transform: scale(1.05)
}
.accordion__parent{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion__item{
  border: 2px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease all;
}
.accordion__header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion__header h4{
  font-size: 18px;
  font-weight: 600;
}
.accordion__header img{
  width: 20px;
  height: 20px;
}
.accordion__text p{
  font-size: 16px;
  font-weight: 500;
}
.noopen{
  transform: rotate(0deg);
  transition: 0.3s ease all;
}
.open{
  transition: 0.3s ease all;
  transform: rotate(180deg)
}
.modalone__menu{
  display: flex;
  column-gap: 10px;
}
.modalone h3{
  font-size: 16px;
  font-weight: 600;
}
.modalone__button{
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.none{
  display: none !important;
}
.modalone {
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 100px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px 15px;
  opacity: 0; 
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.fade-in {
  opacity: 1; 
  transform: translateY(20px); 
}

.fade-out {
  opacity: 0; 
  transform: translateY(-20px); 
}


.none {
  display: none;
}
.flashcard__parent{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flashcard__inputs{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.abugaga{
  margin-top: 40px;
}
.flashcard__button{
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #fff;
  display: inline-flex;
  width: max-content;
  transition: 0.3s ease all;
  cursor: pointer;
}
.flashcard__button:hover{
  background-color: #000;
  color: #fff;
}
.flashitem{
  margin-top: 20px;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}
.flashitem img{
  width: 200px;
  height: max-content;
}
.flashitem__buttons{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.editing{
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.footer {
  margin-bottom: 35px;
  width: 90%;
  height: 90px;
  padding: 0px 0px 0px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-one{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-info{
  display: inline-block;
  border-radius: 10px;
  padding: 7px 12px;
}
.footer-info h4{
  font-size: 18px;
  font-weight: 700;
}
.footer-info p{
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.footer-two{
  display: flex;
  height: 100%;
  align-items: center;
}
.footer-two p {
  font-size: 16px;
  margin-right: 20px;
  font-weight: 600;
}
.footer-two-item{
  cursor: pointer;
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-two-item img{
  width: 40px;
  height: 40px;
  transition: 0.2s ease all;
}
.footer-two-item img:hover{
  transform: scale(1.10)
}
.footer-two .footer-two-item:last-child{
  border-radius: 0px 20px 20px 0px;
}
@media screen and (max-width: 1080px) {
  .footer-info{
      border-radius: 7px;
      padding: 5px 10px;
  }
  .footer-info h4{
      font-size: 22px;
  }
  .footer-info p{
      font-size: 16px;
  }
  .footer-two-item{
      width: 60px;
  }
  .footer-two-item img{
      width: 35px;
      height: 35px;
  }
}
@media screen and (max-width: 860px) {
  .footer-info{
      border-radius: 7px;
      padding: 4px 8px;
  }
  .footer-info h4{
      font-size: 20px;
  }
  .footer-info p{
      font-size: 15px;
  }
  .footer-two-item{
      width: 55px;
  }
  .footer-two-item img{
      width: 35px;
      height: 35px;
  }
  .footer {
      margin-bottom: 25px;
      width: 90%;
      height: 70px;
      padding: 0px 0px 0px 15px;
      border-radius: 20px;
  }
  .footer-two p{
      display: none;
  }
}
@media screen and (max-width: 760px) {
  .footer-info{
      border-radius: 5px;
      padding: 3px 6px;
  }
  .footer-info h4{
      font-size: 18px;
  }
  .footer-info p{
      font-size: 14px;
  }
  .footer-two-item{
      width: 50px;
  }
  .footer-two-item img{
      width: 30px;
      height: 30px;
  }
}
@media screen and (max-width: 670px) {
  .footer-info{
      border-radius: 5px;
      padding: 3px 6px;
  }
  .footer-info h4{
      font-size: 16px;
  }
  .footer-info p{
      font-size: 12px;
  }
  .footer-two-item{
      width: 40px;
  }
  .footer-two-item img{
      width: 30px;
      height: 30px;
  }
  .footer-one{
      gap: 10px;
  }
}
@media screen and (max-width: 570px) {
  .footer-copy{
      font-size: 8px;
  }
  .footer-info{
      border-radius: 5px;
      padding: 3px 5px;
  }
  .footer-info h4{
      font-size: 14px;
  }
  .footer-info p{
      font-size: 10px;
  }
  .footer-two{
      flex-direction: column;
  }
  .footer-two-item{
      width: 60px;
  }
  .footer-two-item img{
      width: 22px;
      height: 22px;
  }
  .footer-one{
      gap: 5px;
  }
  .footer-two .footer-two-item:last-child{
      border-radius: 0px 0px 20px 0px;
  }
  .footer-two .footer-two-item:nth-child(0){
      border-radius: 0px 20px 0px 0px;
  }
  .footer-two .footer-two-item:nth-child(1){
      border-radius: 0px 20px 0px 0px;
  }
  .footer{
      height: 80px;
  }
}
.github{
  background-color: #2E2E2E;
}
.telegram{
  background-color: #59BBE7;
}
.discord{
  background-color: #3D5ADC;
}
.header{
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #000;
  width: 85%;
  height: 60px;
  padding: 0px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.7s ease all;
  z-index: 10
}
.line{
  height: 5px;
  border-radius: 5px;
  background-color: #000;
}
.burger-menu{
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  cursor: pointer;
  gap: 3px;
  transition: 0.1s ease all;
}
.burger-menu:hover{
  gap: 5px;
}
.burger-menu .line:nth-child(1){
  display: block;
  width: 40px;
}
.burger-menu .line:nth-child(2){
  width: 33px;
}
.burger-menu .line:nth-child(3){
  width: 26px;
}
.burger-menu.active{
  transform: rotate(45deg);
  gap: 0px;
}
.burger-menu.active .line:nth-child(1){
  display: none;
}
.burger-menu.active .line:nth-child(2){
  background-color: #000;
  width: 33px;
  transform: rotate(90deg);
}
.burger-menu.active .line:nth-child(3){
  background-color: #000;
  width: 33px;
  position: relative;
  bottom: 5px;
  transform: rotate(180deg)
}
.logo-name{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.hidden{
  transform: translate(-50%, -150%);
}
.burger-menu{
  color: #fff;
}
@media screen and (max-width: 768px) {
  .logo-name{
      font-size: 16px;
  }
  .header{
      height: 50px;
  }
}
@media screen and (max-width: 580px) {
  .logo-name{
      font-size: 15px;
  }
  .header{
      width: 80%;
  }
}
.sleeptime__parent{
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sleeptime__info{
  display: flex;
  flex-direction: column;
}
.sleeptime__time{
  display: flex;
  justify-content: space-between;
}

.sleeptime__time p{
  color: #000;
  font-size: 30px;
  font-weight: 600;
}
.sleeptime__result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sleeptime__result p{
  color: #000;
  font-size: 16px;
}
.sleeptime__menu{
  margin-top: 30px;
  justify-content: center;
  display: flex;
  gap: 50px;
}
.sleeptime__btn{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
.sleeptime__btni{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
.sleeptime__btn img{
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.sleeptime__stats{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
}
.sleeptime__stats h4{
  color: #000;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer
}
.sleeptime__stats h4 img{
  margin-left: auto;
  width: 25px;
  height: 25px;
  transition: 0.3s ease all;
  transform: rotate(180deg);
}
.sleeptime__stats h4 img.imgactive{
  transform: rotate(0deg);
}
.sleeptime__stats span{
  font-weight: 600;
}
.statitem{
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  z-index: 10000;
}
.statitem p{
  margin-left: 10px;
}
.statitem img{
  width: 24px;
  transition: 0.3s ease all;
  cursor: pointer;
}
.statitem img:hover{
  transform: scale(1.1)
}
.statitem__images{
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.statitem__inputs{
  display: flex;
  gap: 10px;
}
.statitem input{
  width: 90px;
}
.rock{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.rock__inputs{
  align-items: center;
  display: flex;
  gap: 10px;
}
.rock__btn{
  width: max-content;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.rock__history{
  display: flex;
  flex-direction: column;
}
.rock__history h4{
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.rock__history h4 img{
  margin-left: auto;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.rock__history h4 img.rotate{
  transform: rotate(0deg);
}
.rock__item{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
}
.rock__history{
  gap: 15px;
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
}
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: white; 
  border-radius: 4px; 
  position: relative;
  cursor: pointer;
  transition: 0.3s ease all;
}

/* Активний стан чекбоксу */
input[type="checkbox"]:checked {
  background-color: rgb(0, 0, 0);
}
.passgen__inputs{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.passgen__input{
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
}
.passgen__btn{
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  width: max-content;
}
.passgen__inputs p{
  width: 90%;
  word-break: break-word; /* або break-all */
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 15px;
}
.factorial__btn{
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 5px;
}
.factorial{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.factorial *{
  width: max-content;
}
